body {
    backgroun: liner-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    }
.card{
    backgroun: rgba(255, 255, 0.1);
    backdrop-filter: blur(12px);
    padding: 40px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}
.btn-register {
    backgroun: #007bff;
    border: none;

}